*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
   width: 100%;
   height: 100%;
   background-color:  #fef6f3;
}

#resume-nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 3vmax;
    align-items: center;
}

#resume-nav h4{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 1.2vmax;
}

#resume-nav a{
    color:#38686a;
    text-decoration: none;
}

page{
    background: white;
    display: block;
    margin: 2vmax auto;
    margin-bottom: 0.5cm;
    padding: 3vmax;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}

#resume_profile {
    margin-left: 1vmax;
    width: 250px;
    height: 200px;
  }
  
#resume_profile img {
    object-fit: cover;
    width: 100%;
    height: 100%;

  }


#image {
    width: 100%;
    display: flex;

}

/* #image img {
    margin-left: 2vmax;
    width: 200px;
    height: 200px;
    object-fit: cover;
} */

section {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #5e5e5e;
    margin-bottom: 3vmax;
}

section h1 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.6vmax;
    font-size: 1.9vmax;
    text-align: center;
}

section h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.6vmax;
    font-size: 1.2vmax;
}

section ul {
    padding-top: 2vmax;
    padding-left: 6vmax;
    text-align: left;
    font-size: 1vmax;
}


section p {
    padding: 0 5vmax;
    text-align: center;
    margin-top: 1vmax;
    font-weight: 100;
    font-size: 1vmax;
}

section table {
    width: 80%;
    margin: 1vmax auto;
    text-align: center;
    font-size: 1vmax;

}

section table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.6vmax;
    text-transform: capitalize;
}

section h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1vmax;
}

#detail {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.4vmax;
    padding: 2vmax;
    gap: 1vmax;
    position: absolute;
    top: 0;
    left: 0;
}

#title{
    text-align: left;
    padding-left: 5vmax;
    padding-top: 1vmax;
    font-size: 1.1vmax;
    text-transform: uppercase;
    font-weight: 100;
}

#title span{
    text-transform: capitalize;
    font-weight: 600;
}

#detail a {
    text-decoration: none;
    color: black;

}